/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
production.env
prodenv.v
/remote_config
workspace.xml
/.idea/roster.iml
/.idea/php.xml
/ansible/vpwd
/ansible/hosts/staging
/ansible/hosts/production
/:memory
:memory
